src/**/*.user*
src/**/*.filters
src/**/.vs
src/**/x64
*.zip

GPUCameraSample*
build-*
# bin/**/*.lib
# bin/**/*.iobj
# bin/**/*.ipdb
# bin/**/*.pdb
# bin/**/*.ilk
# bin/**/*.exp
.vscode/
build/
models/
Img/
OtherLibsLinux/
OtherLibs